.map-container{
    display: block;
    margin: 0 3rem;
    margin-top: 4rem;
    span{
        font-size: 48px;
        font-weight: 600;
        line-height: 60.24px;
        font-family: "Mulish", sans-serif;
    }
    div{
        margin: 4rem;
    }
}