.footer-container {
  width: 100%;
  background-color: #ffcc4d;
  font-family: "Mulish", sans-serif;
  .section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: "Mulish", sans-serif;
    border-bottom: 1px solid #F2C13C;
    div {
      width: 145px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 1rem 0;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        gap: 5px;
        color: black;
        img {
          color: black;
        }
      }
      .head {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        color: #312402;
      }
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0;
        li {
          font-size: 14px;
          font-weight: 300;
          line-height: 19.6px;
          color: #785801;
        }
      }
    }
    .contact {
        width: 330px;
      }
  }
  .text{
    text-align: center;
    padding: 2rem 5rem;
    font-size: 14px;
    font-family: "Mulish", sans-serif;
    color: #B38304;
    font-weight: 400;
    line-height: 19.6px;
  }
  
}
